//@base: #58a;
//
//.box-shadow(@style, @c) when (iscolor(@c)) {
//  -webkit-box-shadow: @style @c;
//  box-shadow:         @style @c;
//}
//.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
//  .box-shadow(@style, rgba(0, 0, 0, @alpha));
//}
//
///*box*/
//.box {
//
//  height:100px;
//  width:100px;
//
//  color: saturate(@base, 5%);
//  border:solid;
//  border-color: lighten(@base, 30%);
//  div { .box-shadow(0 0 5px, 30%) }
//}




@baseColor:#111;
@baseColor2: #2af;
@textBackColor: transparent;
@textColor: #fff;
@direction:right;
@marginTop:10px;


.btn(@width:100px,@height:40px,@borderColor:#58a,@backColor:#58a){
  width:@width;
  height:@height;

  border:solid 1px @borderColor;

  cursor:pointer;
  position:relative;
  border-radius:25px;
  background-color: @backColor;
  // border-@{direction}:2px solid @baseColor;

  span{
      position: absolute;
    
      color:@textColor;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    
      background-color:@textBackColor;
  }
}

.btnA{
  .btn(100px,40px,@baseColor*2);
}

.btnB{
  .btn(80px,30px,@baseColor*3);
}

.btnC{
  .btn;
}


/*************** nest ********************/
.nest{
  p{font-size:16px;
    a{
      color:red;
      cursor:pointer;
      text-decoration: none;
      &:hover{
        color:green;
        text-decoration: underline;
      }

    }
  }
}



/*************** mixin ********************/
.mixin (darkk, @color) {
  color: darken(@color, 10%);
}
.mixin (light, @color) {
  color: lighten(@color, 10%);
}
.mixin (@_, @color) {
  display: block;
}

@switch: darkk;
.myMixin {
  .mixin(@switch, #888);
  .mixin(@switch, #888);
}

